
 <div>

        <div>
                
                <!-- Trigger the modal with a button -->
                <!-- <p-autoComplete autoHighlight="true" id="autocomplete" class="autocomplete-input column" [suggestions]="filteredHomeTeam" (completeMethod)="filterAllHomeTeam($event,suggestions);scrollTop();" [(ngModel)]="selectedItem" styleClass="wid100" name="p1"
                [minLength]="1" placeholder="Search Home Team" field="hteam"  emptyMessage="No results found!" (onSelect)="onHolidaySelected($event)" (onClear)="getHolidays()">
                 </p-autoComplete> -->
               
                <button type="button" [disabled]="!isAdmin" class="btn btn-info btn-lg add" data-toggle="modal" data-target="#myModal">Add Matches</button>
              
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header" style="background-color:turquoise">
                        <h4 class="modal-title modheader">ADD MATCHES</h4>
                      </div>
                      <div class="modal-body">
                        <div class=" col-sm-6"> Home Team :  <input class="border" type="text" [(ngModel)]="home"/></div>
                        <div class="col-sm-6"> Away Team :  <input class="border" type="text" [(ngModel)]="away" /></div>
                        <div class="col-sm-6"> Date of Match :  <input class="border" type="text" [(ngModel)]="date" placeholder="dd/mm/yyyy"/></div>
                         <div class="col-sm-6">Location :  <input class="border" type="text" [(ngModel)]="location"/></div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onCancels()">Cancel</button>
                        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="addMatches($event)">Save</button>
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              <div>
                  <p-growl [(value)]="msgs"></p-growl>
                  </div>
    <table class="table styletable">
        <thead>
            <tr class=" tahead">
                
                <th style="width:20%;vertical-align:middle">Home Team</th>
                <th style="width:20%;vertical-align:middle">Away Team</th>
                <th style="width:20%;vertical-align:middle">Date</th>
                <th style="width:20%;vertical-align:middle">Location</th>
                <th style="width:8%"></th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="table-body" *ngFor="let item of newData;let i=index">
               
                <td *ngIf="selectedItemId!=item._id">
                   {{item.hteam}}
                </td>
                <td *ngIf="selectedItemId==item._id">
                        <input type="text" [(ngModel)]="item.hteam"/>
                     </td>
                <td *ngIf="selectedItemId!=item._id">
                  {{item.ateam}}
                </td>
                <td *ngIf="selectedItemId==item._id">
                        <input type="text" [(ngModel)]="item.ateam"/>
                      </td>
                <td *ngIf="selectedItemId!=item._id">
                 {{item.date}}
                </td>
                <td *ngIf="selectedItemId==item._id">
                        <input type="text" [(ngModel)]="item.date"/>
                       </td>
                <td *ngIf="selectedItemId!=item._id">
                  {{item.location}}
                </td>
                <td *ngIf="selectedItemId==item._id">
                        <input type="text" [(ngModel)]="item.location"/>
                      </td>
                <td>
                    <label *ngIf="selectedItemId!=item._id && isAdmin" class="edit" (click)="onEdit(item)">Edit</label>
                    <label *ngIf="selectedItemId!=item._id && isAdmin" class="delete" (click)="onDelete(item)" data-toggle="modal" data-target="#myModa">Delete</label>
                    
                    <label *ngIf="selectedItemId==item._id" class="save" (click)="onSave(item)">Save</label>
                    <label *ngIf="selectedItemId==item._id" class="cancel" (click)="onCancel(item)">Cancel</label>
                </td>
               
               
            </tr>
        </tbody>
    </table>
    <!-- <div class="modal fade" id="myModa" role="dialog">
      <div class="modal-dialog">
      
        <!-- Delete Modal content-->
        <!-- <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title modheader">Do you want to delete</h4>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="onDelete(selectedItemId)">Yes</button>
          </div>
        </div>
        
      </div>
    </div> -->

</div>
